body {
    color: #413f47;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    width: 100vw !important;
    height: 100vh !important;
    margin: 0 !important;
    position: relative;
}

.is-hidden {
    opacity: 0;
}

.startPanel {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #ffeded;
    z-index: 1;
    transition: all 1.5s ease-in-out;
    text-align: center;
}

.startPanel img {
    width: 180px;
    height: 288px;
    max-width: 100%;
    margin: 50px auto 20px;
}

.startPanel h1 {
    line-height: 1.2;
    font-size: 1.5rem;
    text-transform: uppercase;
    max-width: 90%;
    margin: 0 auto;
}

.startButton {
    background: white;
    text-align: center;
    position: absolute;
    bottom: 0;
    top: calc(100% - 160px);
    left: 50%;
    right: 0;
    margin-left: -100px;
    width: 200px;
    height: 70px;
    border: 0;
    cursor: pointer;
    line-height: 2.75rem;
    font-size: 1.35rem;
    font-weight: bold;
}

.loader {
    text-align: center;
    position: fixed;
    bottom: 40px;
    top: auto;
    left: 50%;
    right: 0;
    margin-left: -100px;
    width: 200px;
    bottom: 50%;
    transition: all 1s ease-in-out;
}

.product {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    transition: all 2.5s ease-in-out;
    display: flex;
    align-items: center;
    opacity: 0;

}

.product.active {
    opacity: 1;
    animation: zoom 2.5s 1;
}

.product img {
    width: 100%;
    max-width: 100%;
}

.brand_logo {
    margin-left: 30px;
    opacity: 0;
    transition: all 1s ease-in-out;
}

.brand_logo.active {
    opacity: 1;
}

.brand_logo img {
    width: 90px;
}
.video {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: all 1s ease-in-out;
    z-index: 2;
}

.video video{
    width: 100vw;
    height: 100vh;
}

.video.active {
    display: block;
    opacity: 1;

}

@keyframes zoom {
    0% { transform: scale(0.25, 0.25); }
   100%   { transform: scale(1.3, 1.3);}
}

@-webkit-keyframes  zoom {
    0% { transform: scale(0.25, 0.25); }
    100%   { transform: scale(1.3, 1.3); }
}